<%= flash[:notice] %>
<p>Check out our Twitter page to get the beta user password</p>
<form action="/login" method="POST">
	<label for="password">Password</label>
	<input type="password" name="password" />
	<input type="submit">
</form>